.logo {
  background-image: url("salmon.png");
  margin: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: light-gray;
}

.logo, h1 {
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5em;
  color: white;
  padding: 45px;
}

.outPut, p {
  font-family: 'Trirong', serif;
  font-size: 1.25em;
  }

ul {
  font-family: 'Verdana';
  font-size: 1.1em;
}

body {
  background-color: #9AA899;
}

.location-data {
  background-color: white;
  border: 1px solid black;
  float: left;
  clear: right;
  text-align: center;
}

.location-data,p {
  font-family: serif;
  text-decoration: underline;
  text-align: justify;
  color: light-green;
}

.for-sale {
  border: 2px solid black;
  clear: left;
  text-decoration: underline;
  font-family: sans-serif;
  text-align: justify;
  color: green;
}
